@font-face {
  font-family: 'LeagueSpartan';
  src: url("./fonts/LeagueSpartan-Bold.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-family: 'GlacialIndifference';
  src: url("./fonts/GlacialIndifference-Regular.otf");
  /* IE9 Compat Modes */ }

html, body, #reactseed-app, .App {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-family: "GlacialIndifference", sans-serif;
  color: #000000; }

a, a:visited {
  color: #000000;
  text-decoration: none; }

a:hover {
  color: #44D9E6; }

ul, li, p {
  margin: 0;
  padding: 0; }

.Home {
  background: black;
  background: white;
  width: 100%;
  height: 100%;
  display: block;
  color: white; }
  .Home .Home__logo {
    position: absolute;
    left: calc(50% - 50px);
    top: 20px;
    width: 100px;
    background: white;
    opacity: 0.2; }
  .Home .Home__visualizer {
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    z-index: -0; }
  .Home .Home__videoEle {
    position: absolute;
    top: 0;
    opacity: 0; }
  .Home .Home__canvasVideo {
    opacity: 0.8; }
  .Home .Home__wrapButtons {
    z-index: 100; }
    .Home .Home__wrapButtons .Home__videoCtrls div {
      display: inline-block;
      color: white;
      padding: 10px;
      background: black;
      border: 1px solid white; }
    .Home .Home__wrapButtons .Home__videoCtrls .Betamax__videoSeeker {
      background: white; }
    .Home .Home__wrapButtons .Betamax__videoSeeker {
      width: 100%;
      height: 100px;
      display: block;
      background: grey; }
    .Home .Home__wrapButtons .Home__filterCtrls {
      position: fixed;
      left: 0;
      top: 0; }
      .Home .Home__wrapButtons .Home__filterCtrls label {
        display: block; }
    .Home .Home__wrapButtons .Home__mediaGallery {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.3; }
      .Home .Home__wrapButtons .Home__mediaGallery .Home__thumbnail {
        background: white;
        display: block;
        width: 100px;
        height: auto; }

.Number {
  background: black;
  width: 100%;
  height: 100%;
  display: block; }
  .Number .Number__shadow1 {
    position: fixed;
    top: 100px;
    left: 50px;
    background: black;
    display: block;
    width: 200px;
    height: 200px;
    z-index: 100; }
  .Number .Number__shadow2 {
    position: fixed;
    top: 100px;
    left: 350px;
    background: black;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    z-index: 100; }

.Nav {
  position: fixed;
  top: 30px;
  left: 190px; }
  .Nav a {
    font-size: 16px; }
  .Nav .Nav__dot {
    font-size: 10px;
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px; }
  .Nav img {
    position: fixed;
    top: 5px;
    left: 5px;
    height: 70px; }
